Custos Anuais - Cenário Atual.jpg
Custos Anuais - Cenário Otimizado.jpg
Custos HFP.png
Custos HP.png
Demanda Média Ex 1.jpg
Demanda Média Ex 2.jpg
Demanda Média HFP.jpg
Demanda Média HP.jpg
Demandas Atualmente.jpg
Demandas HFP - Atualmente.jpg
Demandas HFP - Otimizadas.jpg
Demandas HP - Atualmente.jpg
Demandas HP - Otimizadas.jpg
Demandas Otimizadas.jpg
tarifas.csv
dados.csv
temp.html
